@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

.intro {
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)),
    url("./images/bg-pattern-intro.svg");
  padding: 3em;
  background-clip: padding-box;
  background-position: left center;
  background-blend-mode: overlay;
  background-size: cover;
  border-radius: 0 0 0 13%;
}

.nav-link {
  color: hsl(0, 0%, 100%);
}
.nav-link:hover {
  color: hsl(0, 0%, 100%);
}
.nav-link:focus {
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: hsl(0, 0%, 100%);
  font-weight: bold;
}
a {
  color: hsl(0, 0%, 100%);
}
.btn-primary {
  color: hsl(353, 100%, 62%);
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:hover,
.show > .btn-primary.dropdown-toggle {
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
  border-color: hsl(355, 100%, 74%);
}
.btn-primary:focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
  border-color: hsl(355, 100%, 74%);
  box-shadow: 0 0 0 0.25rem hsl(355, 100%, 74%);
}
.btn-outline-primary {
  color: hsl(0, 0%, 100%);
  background-color: hsl(353, 100%, 62%);
  border-color: hsl(0, 0%, 100%);
}
.btn-outline-primary:active,
.btn-outline-primary:hover {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
}
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem hsl(355, 100%, 74%);
}
.top-heading {
  color: hsl(0, 0%, 100%);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}
.top-message {
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.sub-heading {
  color: hsl(208, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% auto auto;

  padding-top: 4em;
  padding-left: 4em;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 1em;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: end;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 4;
  background: url("./images/illustration-editor-desktop.svg");
  padding: 3em;
  background-clip: padding-box;
  background-position: left center;
  background-blend-mode: overlay;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.item3 {
  grid-column: 1 / span 1;
  grid-row: 2;
}
.item4 {
  grid-column: 1 / span 1;
  grid-row: 3;
}

.middle {
  background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%)),
    url("./images/bg-pattern-circles.svg");
  padding: 13em;
  margin-top: 3em;
  background-clip: border-box;
  background-position: left center, left bottom;
  background-blend-mode: exclusion;
  background-size: auto, 55%;
  border-radius: 0 13% 0 13%;
  background-repeat: no-repeat;
  text-align: left;
  position: relative;
}
.fix {
  position: absolute;
  top: -3em;
  left: 10em;
}
.middle-heading {
  position: absolute;
  top: 5em;
  left: 45em;
  text-align: left;
  width: 40%;
}
.second-grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% auto auto;
  padding-top: 4em;
  padding-left: 0;
}
.second-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 1em;
  padding-left: 0;
}
.item-graphic {
  grid-column: 1;
  grid-row: 1 / span 3;
  background: url("./images/illustration-laptop-desktop.svg");

  background-clip: border-box;
  background-position: left center;
  background-blend-mode: overlay;
  background-size: auto 100%;
  -webkit-clip-path: inset(0 0 0 10%);
  clip-path: inset(0 0 0 10%);
  background-repeat: no-repeat;
}
.item-free {
  grid-column: 2 / span 1;
  grid-row: 2;
}
.item-tool {
  grid-column: 2 / span 1;
  grid-row: 3;
}
@media screen and (max-width: 375px) {
  .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1em;
    padding-left: 0;
  }

  .item1 {
    grid-column: 1;
    grid-row: 1;
  }

  .item2 {
    grid-column: 1;
    grid-row: 2;
    background: url("./images/illustration-editor-mobile.svg");
    padding: 9em;
    background-clip: padding-box;
    background-position: center center;
    background-blend-mode: overlay;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .item3 {
    grid-column: 1;
    grid-row: 3;
  }
  .item4 {
    grid-column: 1;
    grid-row: 4;
  }

  /* middle section */
  .middle {
    background: linear-gradient(
        to right,
        hsl(237, 17%, 21%),
        hsl(237, 23%, 32%)
      ),
      url("./images/bg-pattern-circles.svg");
    padding: 9em;
    padding-top: 12em;
    margin-top: 9em;
    background-clip: padding-box;
    background-position: left center, left center;
    background-blend-mode: exclusion;
    background-size: auto, 100%;
    border-radius: 0 13% 0 13%;
    background-repeat: no-repeat;
    text-align: left;
    position: relative;
  }
  .fix {
    position: absolute;
    top: -7em;
    left: 1em;
    width: 80%;
  }
  .middle-heading {
    margin-top: 2em;
    position: absolute;
    top: 7em;
    left: 1em;
    text-align: center;
    width: 90%;
  }
  .second-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    padding-top: 4em;
    padding-left: 0;
  }
  .second-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1em;
    padding-left: 0;
  }
  .item-graphic {
    grid-column: 1;
    grid-row: 1;
    background: url("./images/illustration-laptop-desktop.svg");
    padding: 9em;
    background-clip: border-box;
    background-position: center center;
    background-blend-mode: overlay;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-clip-path: none;
    clip-path: none;
  }
  .item-free {
    grid-column: 1;
    grid-row: 2;
  }
  .item-tool {
    grid-column: 1;
    grid-row: 3;
  }
}

.footer {
  overflow: hidden;
  margin-top: 250px;
  background: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
.summary {
  color: hsl(207, 13%, 34%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
